files/fortify.license
files/sonatype.license
*.license
**/files/fortify.license
**/files/sonatype.license

**/*.log
certs
demo.credentials
demo.local.env
.fortify
postgres/secrets/
scdast/generated/
scdast/secrets/
